.main {
  margin-left: var(--sidebar-w);
  min-height: 100vh;
}

@media (max-width: 1023px) and (min-width: 641px) {
  .main {
    margin-left: var(--sidebar-w-collapsed);
  }
}

@media (max-width: 640px) {
  .main {
    margin-left: 0;
  }
}
